* {
    text-decoration: none;
}

a {
    color : inherit;
}

body {
    background-color: #FF9A5C;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* the input div */
#inputDiv {
    /* positioning */
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    /* styling */
}

#inputDiv form {
    /* positioning */
    margin-left: auto;
    margin-right: auto;
    /* styling */
    background-color: #80A17D;
    padding: 20px;
    /* border */
    border-radius: 10px;
    box-shadow: 3px 3px 6px #2A2828;
}

#inputDiv label {
    /* posititioning */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    padding: 6px;
    /* styling */
    font-size: 20px;
    color: #2A2828;
    background-color: #F5F1ED;
    border-radius: 10px;
}

#inputDiv #numberToCalc {
    /* positioning */
    margin-top: 12px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* styling */
    background-color: #F5F1ED;
    height: 20px;
    font-size: 15px;
}

#numberToCalc::placeholder {
    text-align: center;
}
/* the main, where the new numbers are */
main {
    /* positioning */
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 240px;
    width: 60%;
    /* styling */
    background-color: #80A17D;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 12px;
    box-shadow: 3px 3px 6px #2A2828;
}

/* the new numbers that are created */
.numberNode {
    /* positioning */
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    /* styling */
    background-color: #F5F1ED;
    margin-bottom: 6px;
    font-size: 1.2rem;
    padding: 10px;
    /* border */
    border-radius: 10px;
    overflow: auto;
}

.numberNode p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline;
}

.numberNode span {
    display: inline;
    float: right;
}

/* the footer */
footer {
    text-align: center;
    margin-top: 10rem;
    width: 100%;
    background-color: #2A2828;

    color: #F5F1ED;
    position: fixed;
    bottom: 0;
    left: 0;
}