* {
    text-decoration: none;
}

a {
    color : inherit;
}

body {
    background-color: #FF9A5C;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* the input div */
#inputDiv {
    /* positioning */
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    /* styling */
}

#inputDiv form {
    /* positioning */
    margin-left: auto;
    margin-right: auto;
    /* styling */
    margin-top: 12px;
    background-color: #80A17D;
    padding: 20px;
    /* border */
    border-radius: 12px 12px 2px 2px;
    box-shadow: 6px 6px 2px #2A2828;

}

#inputDiv label {
    /* posititioning */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    padding: 6px;
    /* styling */
    font-size: 20px;
    color: #2A2828;
    background-color: #F5F1ED;
    border-radius: 10px;
}

#inputDiv #numberToCalc {
    /* positioning */
    margin-top: 12px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* styling */
    background-color: #F5F1ED;
    height: 20px;
    font-size: 15px;
}

#numberToCalc::placeholder {
    text-align: center;
}
/* the main, where the new numbers are */
main {
    /* positioning */
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 120px;
    width: 60%;
    /* styling */
    background-color: #80A17D;
    border-radius: 2px 2px 12px 12px;
    padding-top: 20px;
    padding-bottom: 12px;
    box-shadow: 6px 6px 2px 2px #2A2828;

}

/* the new numbers that are created */
.numberNode {
    /* positioning */
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    /* styling */
    background-color: #F5F1ED;
    margin-bottom: 6px;
    font-size: 1.2rem;
    padding: 10px;
    /* border */
    border-radius: 10px;
    overflow: auto;
}

.numberNode p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline;
}

.numberNode span {
    display: inline;
    float: right;
}

/* the footer */
footer {
    text-align: center;
    margin-top: 10rem;
    width: 100%;
    background-color: rgba(42, 40, 40, 0.95);

    color: #F5F1ED;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 10px 10px 10px 10px #2A2828;
}

/* media queries */
@media screen and (max-width: 600px) {
    #inputDiv { /* make the top bar fullscreen when on mobile/small screen */
        width: 100%;
    }

    #inputDiv form {
        padding: 6px;
        border-radius: 0px;
        margin-top: 0;
    }

    #inputDiv label {
        font-size: 14px;
    }
    
    main { /* make the main content area fullscreen when on mobile/small screen */
        width: 80%;
        padding-top: 6px;
        padding-bottom: 2px;
    }

    .numberNode { /* make the nodes larger when on mobile/small screen */
        width: 60%;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 1px;
        padding-bottom: 3px;
    }

    .numberNode p {
        font-size: 14px;
    }
}